body {
  font-family: Arial, sans-serif;
  padding: 2rem;
}

#swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.swatch {
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: bold;
}